<div id="wrapper"></div>

{{!-- <div class="container"  style = "background-color: aliceblue; border: 1px solid black"> --}}
  {{!-- <table>
    <thead>
    <tr>
      <th>
        Product Name
      </th>
    {{#each periods}}
    {{> dashboardTable}}
    {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each products}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        11
      </td>
    </tr>
    {{/each}}
    </tbody>
  </table> --}}
{{!-- </div> --}}
{{!-- <script type="module">
    import {
        Grid,
        html
    } from "https://unpkg.com/gridjs?module";
</script> --}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>

<script src="/js/script.js"></script>